/* Footer */
.footer{
    width: 100%;
    height: 10%;
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-shopping-cart{
    color:#333333 ;
}