<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Base de Datos</title>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/home.css">
        <script src=""></script>
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../partials/header') %>

        <!-- MAIN -->
        <main id="main">
            <a href="/manage/products">Productos</a>
            <a href="/manage/users">Usuarios</a>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>
    </div>
</body>
</html>