.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MAIN */
main{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.product-management-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.create-product-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.textbox{
    flex-grow: 1;
    height: 35px;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

#description{
    height: 75px;
}

.submit-image{
    color: gray;
    display: flex;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#button{
    margin-top: 15px;
    background-color: #03414D;
    color: white;
    border: none;
    width: 60%;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#button-add-category{
    font-size: 13px;
    background-color: #03414D;
    color: white;
    border: none;
    width: 40%;
    height: 30px;
    border-radius: 5px;
}

#button{
    margin-top: 15px;
    background-color: #03414D;
    color: white;
    border: none;
    width: 60%;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
}
