html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #F7F9FB;
    font-size: 12px;
    font-family: Helvetica, Arial,  sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
nav{
    width: 100%;
    height: 65px;
    background-color: #A0F6D2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo{
    height: 65px;
}

#buscador{
    display: flex;
    align-items: center;
}

#search-text{
    width: 40vw;
}

#search-text, #search-button{
    height: 28px;
}

.icons{
    font-size: 20px;
}

.icons-button{
    background-color: transparent;
    border: none;
    color: #03414D;
}

/* MAIN */
main{
    width: 100%;
    flex-grow: 1;
    padding: 10px;
}

#carrito{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.articulo{
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.articulo .descripcion{
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 200px;
}

.articulo .cantidad, .articulo .precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    width: 85px;
}

.articulo .cantidad .cantidad-text{
    width: 35px;
    text-align: center;
}

.articulo .precio .precio-text{
    text-align: end;
    width: 80px;
}

.delete-item{
    height: fit-content;
    background-color: transparent;
    border: none;
    color: #03414D;
    font-size: 15px;
}

.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.total .total-text{
    width: 120px;
    height: 20px;
    margin-left: 10px;
    text-align: end;
}

.comprar{
    height: 25px;
    display: flex;
    justify-content: flex-end;
}

.seguir-comprando-button, .proceder-pago-button{
    margin-left: 15px;
    background-color: #03414D;
    color: white;
    border: none;
    height: 30px;
    letter-spacing: 2px;
    border-radius: 5px;
}

#detalles{
    display: none;
}

/* FOOTER */
footer{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 5px;
}

/* PARA COMPUTADORAS */
@media (min-width: 768px) {
    body{
        font-size: 15px;
    }
    #nav-buscador input{
        width: 40vw;
    }

    main{
        display: flex;
        justify-content: center;
    }

    #compra-celular{
        display: none;
    }

    #carrito{
        width: 50%;
        max-width: 600px;
        margin-right: 15px;
    }

    #detalles{
        display: inline;
        width: 50%;
        max-width: 550px;
        height: max-content;
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    #detalles #detalles-titulo{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    
    #detalles .detalles-producto{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;
    }

    #detalles .col1{
        width: 100%;
    }

    #detalles .col2{
        width: 70px;
        text-align: center;
    }

    #detalles .col3{
        width: 100px;
        text-align: end;
    }
}