main{
    justify-content: center;
    align-items: center;
}

.login--article
{
    width: 80%;
    height: auto;
    padding: 20px !important;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.login--image{
    width: 120px;
    border-radius: 100%;
    border: 5px solid white;
    margin-top: -80px;
}

.login--form{
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login--form > p {
    width: 80%;
}

.loggin--form--input{
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

.loggin--form--input:last-child{
    margin-top: -10px;
}

.login--form--button{
    background-color: #03414D;
    color: white;
    border: none;
    width: 80%;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5px;
}

.remember{
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: .5px;
    color: rgba(60, 60, 60);
}

.remember > input{
    margin-right: 2.5px;
}

.remember > label{
    margin-left: 2.5px;
}

.forget {
    width: 100%;
    text-align: center;
}

.forget--link{
    width: 100%;
    text-decoration: none;
    color: rgba(60, 60, 60);
    letter-spacing: .3px;
}

.forget--link:hover {
    color: black;
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media (min-width: 768px){
    .login--article{
        width: 600px
    }

    .login--form{
        width: 80%;
    }

    .login--form p > input {
        font-size: 16px;
        height: 34px;
    }

    .login--form > button {
        height: 40px;
        margin-bottom: 10px;
    }

    .remember > input {
        margin-top: -10px;
    }
}