<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tecnoshop</title>
        <%- include('./partials/head') %>
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('./partials/header') %>

        <!-- MAIN -->
        <main id="main">
            <div style="align-self: center;">
                <h2>Está página no existe</h2>
            </div>
        </main>

        <!-- FOOTER -->
        <%- include('./partials/footer') %>
    </div>
</body>
</html>