<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="css/home.css">
        <%- include('./partials/head')%>
    </head>
<body>
    <main class="container">
        <!-- HEADER -->
        <%- include('./partials/header')%>

        <!-- MAIN SECTION -->
        <section class="principal">
            <a href="/productDetail" class="producto">
                <img src="/images/GadgetGomuGomu.png" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Gomu Gomu No Mi</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
            <a href="/productDetail" class="producto">
                <img src="/images/GadgetAudifonos.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Audifonos inalambricos</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
            <a href="/productDetail" class="producto">
                <img src="/images/GadgetDrStone.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Funda Dr Stone</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
            <a href="/productDetail" class="producto">
                <img src="/images/GadgetLente.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Lente para celular</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
            <a href="/productDetail" class="producto">
                <img src="/images/GadgetOnePunchMan.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Funda One Punch Man</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
            <a href="/productDetail" class="producto">
                <img src="/images/GadgetShingeki.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Funda Shingeki</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </a>
        </section>

        <!-- FOOTER -->
        <%- include('./partials/footer')%>
    </main>
</body>
</html>