<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Agregar Producto</title>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/management.css">
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../partials/header')%>

        <!-- MAIN SECTION -->
        <main>
            <div class="product-management-box">
                <h3>Agregar Producto</h3>

                <form class="create-product-form" action="/products/create" method="POST" enctype="multipart/form-data">
                    <div class="input-section">
                        <input id="name" class="textbox" type="text" placeholder="Nombre del producto" name="product-name">
                    </div>
                    <div class="input-section">
                        <textarea id="description" class="textbox" placeholder="Descripción del producto" name="product-description"></textarea>
                    </div>
                    <div class="input-section">
                        <label for="productimage">Imagen del producto:</label>
                        <input type="file" name="product-image" id="productimage" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                    <div class="input-section">
                        <input type=text list=categories placeholder="Categoría" class="textbox">
                        <button type="button" id="button-add-category">Agregar Categoría</button>
                        <datalist id="categories">
                            <option value="Televisores"></option>
                            <option value="Celulares"></option>
                            <option value="Videojuegos"></option>
                        </datalist>
                    </div>
                    <div class="input-section">
                        <input type="number" id="price" class="textbox" placeholder="Precio" name="product-price">
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="activate" checked>
                        <label for="activate">Mostrar producto</label>
                    </div>
                    <button type="submit" id="button">Agregar</button>
                </form>
            </div>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer')%>
    </div>
</body>
</html>
