<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editar Producto</title>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="/css/management.css">
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../partials/header')%>

        <!-- MAIN SECTION -->
        <main>
            <div class="product-management-box">
                <h3>Editar Producto</h3>

                <form class="create-product-form" action="/products" method="POST">
                    <div class="input-section">
                        <input id="name" class="textbox" type="text" placeholder="Nombre del producto" readonly>
                        <a href="#"><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="input-section">
                        <textarea id="description" class="textbox" placeholder="Descripción del producto" readonly></textarea>
                        <a href="#"><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="input-section">
                        <label for="productimage">Imagen del producto:</label>
                        <input type="file" name="image" id="productimage" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                    <div class="input-section">
                        <input type=text list=categories placeholder="Categoría" class="textbox" readonly>
                        <a href="#"><i class="fas fa-edit"></i></a>
                        <datalist id="categories">
                            <option value="Televisores"></option>
                            <option value="Celulares"></option>
                            <option value="Videojuegos"></option>
                        </datalist>
                    </div>
                    <div class="input-section">
                        <input type="number" id="price" class="textbox" placeholder="Precio">
                        <a href="#"><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="activate" checked>
                        <label for="activate">Mostrar producto</label>
                    </div>
                    <button type="submit" id="button">Actualizar</button>
                </form>
            </div>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer')%>
    </div>
</body>
</html>
