<header>
    <!-- LOGO -->
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Logo Tecnoshop"></a>
    </div>      
    <!-- SEARCHBAR -->
    <div class="searchbar">
        <form action="/products" method="GET">
            <input type="search" name="search" placeholder="Buscar artículos" size="1" value="<%= locals.search ? search.text : '' %>">
            <button><img src="/images/icons/search.png"></button>
        </form>
    </div>

    <!-- MENU -->
    <nav>
        <input type="checkbox" id="menu-button" class="mobile">
        <label for="menu-button" class="menu-button-label mobile"><img src="/images/icons/menu.png"></label>
        <input id="darkmode" name="darkmode" type="checkbox" <%= (locals.darkMode) ? 'checked' : '' %>>

        <ul>
        <% if(locals.isLogged){ %>
            <li><h3 class="bienvenida">Bienvenido <%= locals.userLogged.first_name %></h3></li>
            <li><a href="/user/profile"><img src="/images/users/<%= locals.userLogged.image %>" class="profile-picture"></a></li>
            <li><a href="/user/profile"><p class="profile-button">Ver Perfil</p></a></li>
        <% } %>
        <li class="darkmode-label"><label for="darkmode"><a href="/darkmode/1"><img src="/images/icons/light.png">Tema claro</a></label></li>
        <li><a href="/"><p class="navbar-button">Inicio</p></a></li>
        <% if(locals.isLogged){ %>
            <li><a href="/cart"><p class="navbar-button"><img src="/images/icons/shopping-cart.png"></p></a></li>
            <li><a href="/"><p class="navbar-button">Historial de compras</p></a></li>
            <li><a href="/user/logout"><p class="navbar-button">Cerrar Sesión</p></a></li>
        <% }else{ %>
            <li><a href="/user/login"><p class="navbar-button">Iniciar Sesión</p></a></li>
            <li><a href="/user/register"><p class="navbar-button">Registrarse</p></a></li>
        <% } %>
        </ul>
    </nav>
</header>