<nav class="navbar">
    <a href="/" class='navbarImage'>
        <img src="/images/logo.png" alt="Logotipo Tecnoshop" class="navbarImage">
    </a>
    <form class="form">
        <input type="search" placeholder="Buscar artículos dentro de la tienda" class="barraBusqueda">
        <button class="search"><i class="fas fa-search"></i></button>
    </form>
    <button class="button-bar"><i class="fas fa-bars"></i></button>
    <div class="buttons">
        <a href="/productCart"><i class="fas fa-shopping-cart cart"></i></a>
        <a href="/users/login" class="botonSuperior login">Log In!</a>
        <a href="/users/register" class="botonSuperior register">Sign up</a>
    </div>
</nav>