<header id="header">
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Logo Tecnoshop"></a>
        </div>

        <!-- SEARCHBAR -->
        <div class="searchbar">
            <form action="/products" method="GET">
                <input type="search" name="search" placeholder="Buscar artículos" size="1">
                <button><img src="/images/icons/search.png"></button>
            </form>
        </div>

        <!-- MENU -->
        <div class="menu">
            <div class="mobile">
                <img src="/images/icons/menu.png">
            </div>

            <div class="computer">
                <div class="buttons">
                <% if(locals.isLogged){ %>
                    <a href="/cart" class="shopping-cart"><img src="/images/icons/shopping-cart.png"></a>
                    <a href="/user/profile" class="navbar-button profile">Perfil</a>
                    <a href="/user/logout" class="navbar-button logout">Cerrar sesión</a>
                <% }else{ %>
                    <a href="/user/login" class="navbar-button login">Iniciar Sesión</a>
                    <a href="/user/register" class="navbar-button signup">Registrarse</a>
                <% } %>
                </div>
            </div>
        </div>
    </nav>
</header>