/* MAIN */
main{
    margin: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-account-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#create-account-form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.profile-picture{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.textbox{
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.checkbox{
    width: 100%;
    color:rgba(51,51,51,.8);
    letter-spacing: .5px;
}

.create-button{
    margin-top: 15px;
    background-color: #03414D;
    color: white;
    border: none;
    width: 60%;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#login-button{
    text-align: center;
    text-decoration: none;
    color:  rgba(51,51,51,.6);
    letter-spacing: .3px;
}

#login-button:hover{
    color:rgba(51,51,51,1);
    text-decoration: underline;
}

.input-section{
    display: flex;
    align-self: flex-start;
    margin-bottom: 15px;
}

/* PARA COMPUTADORAS */
@media (min-width: 768px) {
    .element{
        margin-bottom: 15px;
    }

    .textbox{
        font-size: 17px;
        height: 40px;
    }
}