header{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #A0F6D2;
}

/* LOGO */
header .div-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80px;
    margin-right: 5px;
}

header .logo{
    width: 100%;
}

/* SEARCHBAR */
header .searchbar{
    flex-grow: 1;
}

.searchbar form{
    display: flex;
    flex-direction: row;
}

.searchbar form input{
    flex-grow: 1;
    outline: none;
    margin-left: 10px;
}

.searchbar form{
    border-radius: 10px;
    border: none;
    background-color: white;
}

.searchbar form input,
.searchbar form button{
    border-radius: 10px;
    border: none;
    background-color: inherit;
}

/* MENU */
#menu-button{
    display: none;
}

.menu-button-label img{
    height: 35px;
}

.darkmode-div{
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-left: 10px;
}

#darkmode{
    width: 40px;
    height: 20px;
    appearance: none;
    outline: none;
    border-radius: 10px;
    background-color: #bbb;
}

#darkmode:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: scale(1.1);
    background-color: black;
}

#darkmode:checked{
    background-color: gray;
}

#darkmode:checked:before{
    margin-left: 20px;
}

nav ul{
    position: absolute;
    left: 100%;
    top: 70px;
    height: calc(100vh - 70px);
    width: 100vw;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    transition: all 0.5s;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

#menu-button:checked ~ ul{
    left: 0;
}

nav ul li a{
    text-decoration: none;
}

nav .bienvenida{
    margin: 10px 0 0 0;
}

nav .profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid white;
}

nav .profile-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0px;
    background-color: #115259;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.navbar-button{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 3px;
    background-color: #A0F6D2;
    width: 100vw;
    height: 40px;
}

@media(min-width: 768px){
    /* SEARCHBAR */
    .searchbar input{
        font-size: 18px;
        height: 40px;
    }
    
    /* MENU */
    nav ul{
        position: relative;
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        top: 0;
        left: 0px;
        transition: none;
        background-color: inherit;
    }

    .navbar-button{
        font-size: 14px;
        margin: 5px;
        width: auto;
        height: auto;
        background-color: inherit !important;
    }
}