main{
    margin-top: 50px;
    align-items: center;
}

.user{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: white;
}

.user-image{
    width: 75px;
    height: 75px;
}
.user-name{
    font-size: .95rem;
    font-weight: normal;
    padding: 5px;
}
.user-buttons{
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.user button,
.user a{
    font-size: .95rem;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.user-edit{
    background-color: #115259;
    color: white;
}

.user-delete{
    background-color: white;
    color: #115259;
    border: 1px solid #115259 !important;
}

.new-user{
    align-self: center;
    text-decoration: none;
    color: #115259;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 10px 20px;
}

.new-user:hover{
    text-decoration: underline;
}