<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/home.css">
    </head>
<body>
    <main class="container">
        <!-- HEADER -->
        <nav class="navbar">
            <a href="/" class='navbarImage'>
                <img src="/images/logo.png" alt="Logotipo Tecnoshop" class="navbarImage">
            </a>
            <form class="form">
                <input type="search" value="Buscar artículos dentro de la tienda" class="barraBusqueda">
                <button class="search"><i class="fas fa-search"></i></button>
            </form>
            <button class="button-bar"><i class="fas fa-bars"></i></button>
            <div class="buttons">
                <a href="/productCart"><i class="fas fa-shopping-cart cart"></i></a>
                <a href="/login" class="botonSuperior login">Log In!</a>
                <a href="/register" class="botonSuperior register">Sing up</a>
            </div>
        </nav>

        <!-- MAIN SECTION -->
        <section class="principal">
            <div class="producto">
                <img src="/images/GadgetGomuGomu.png" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Gomu Gomu No Mi</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/images/GadgetAudifonos.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Audifonos inalambricos</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/images/GadgetDrStone.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Funda Dr Stone</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/images/GadgetLente.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Lente para celular</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/images/GadgetOnePunchMan.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Funda One Punch Man</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </div>
            <div class="producto">
                <img src="/images/GadgetShingeki.jpg" class="imagenProducto">
                <div class="info">
                    <div class="cajaPrecioDesc">
                        <p>Funda Shingeki</p>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer class="footer">
            <p>
                Tecnoshop 2021  &copy;
            </p>
        </footer>
    </main>
</body>
</html>