<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <main class="container">
        <!-- HEADER -->
        <nav class="navbar">
            <a href="/">
                <img src="/images/logo.png" alt="Logotipo Tecnoshop" class="navbar--image">
            </a>
        </nav>

        <!-- LOGIN SECTION -->
        <section class="principal">
            <article class="login">
                <img src="/images/profile-picture.png" alt="Imagen perfil" class="login--image">
                <form class="login--form">
                    <p>
                        <input type="text" placeholder="Ingresa tu usuario" class="loggin--form--input">
                    </p>
                    <p>
                        <input type="password" placeholder="Ingresa tu contraseña" class="loggin--form--input">
                    </p>
                    <button type="button" class="login--form--button" >Ingresar</button>
                </form>
            </article>
        </section>

        <!-- FOOTER -->
        <footer class="footer">
            <p>
                Tecnoshop 2021  &copy;
            </p>
        </footer>
    </main>
</body>
</html>