<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Detalles del producto</title>
    <!-- Fonts -->
    <script
        src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
    ></script>
    <!-- styles -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productDetail.css">
</head>
<body>
    <main class="container">
        <!-- Header -->
        <header class="header">
            <img src="/images/logo.png" alt="Tecnoshop logo" class="logo">
            <input type="text" class="search">
            <p class="icons">
                <button class="icons-button">
                    <i class="fas fa-bars "></i>
                </button>
                <button class="icons-button">
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </p>
        </header>

        <!-- Product  -->
        <section class="principal">
            
        </section>
    </main>

</body>
</html>