<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Detalles del producto</title>
    <!-- Fonts -->
    <script
        src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
    ></script>
    <!-- styles -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/productDetail.css">
</head>
<body>
    <main class="container">
        <!-- Header -->
        <header class="header">
            <a href="/">
                <img src="/images/logo.png" alt="Tecnoshop logo" class="logo">
            </a>
            <input type="text" class="search">
            <p class="icons">
                <button class="icons-button">
                    <i class="fas fa-bars "></i>
                </button>
                <a href="/productCart" class="icons-button">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </p>
        </header>

        <!-- Product  -->
        <section class="principal">
            <article class="product">
                <img class="product--image" src="/images/150.png" alt="Producto">
                <div class="product--description">
                    <h1 class="product--description--name">Producto</h1>
                    <h2 class="product--description--price">$$$</h2>
                    <p class="product--description-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tenetur omnis quibusdam doloremque blanditiis. Laboriosam, voluptatum. Vitae, ullam eaque voluptatem libero quis dolorem fugiat ipsa eos voluptate, sed voluptas tenetur?
                    </p>
                    <div class="product--description--quantity">
                        <input type="number" min="1">
                        <span>Cantidad</span>
                    </div>
                    <button class="product--description--button">
                        Agregar al carrito
                    </button>
                </div>
            </article>
        </section>

        <footer class="footer">
            <p class="footer-copy">
                Tecnoshop 2021  &copy;
            </p>
        </footer>
    </main>

</body>
</html>