<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Registro</title>
    <!-- Fonts -->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js">
    </script>
    <!-- styles -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <nav>
            <a href="/">
                <img src="/images/logo.png" alt="Logotipo Tecnoshop" class="logo">
            </a>
        </nav>

        <!-- Main  -->
        <main>
            <div id="create-account-box">
                <h3>Crear cuenta</h3>

                <form id="create-account-form" action="#">
                    <input id="name" class="textbox" type="text" placeholder="Nombre completo">
                    <input id="email" class="textbox" type="email" placeholder="Correo electrónico">
                    <input id="username" class="textbox" type="text" placeholder="Nombre de usuario">
                    <input id="password" class="textbox" type="password" placeholder="Crea una contraseña">
                    <input id="checkpassword" class="textbox" type="password" placeholder="Repite la contraseña">
                    <a href="#" id="terminos">Términos y condiciones</a>
                    <div class="checkbox">
                        <input type="checkbox">
                        <label for="aceptar-spam">Quiero recibir correos con promociones</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox">
                        <label for="aceptar-terminos">Acepto los términos y condiciones</label>
                    </div>
                    <button type="submit" class="create-button">Crear cuenta</button>
                </form>
                <p><a href="/login" id="login">¿Ya tienes cuenta? Inicia sesión</a></p>
            </div>
        </main>
        <footer>
            <p>Tecnoshop 2021  &copy;</p>
        </footer>
    </div>
</body>
</html>