<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/login.css">
        <%- include('../partials/head')%>
    </head>
<body>
    <main class="container">
        <!-- HEADER -->
        <%- include('../partials/header')%>

        <!-- MAIN SECTION -->
        <section class="principal">
            <article class="login--article">
                <img src="/images/profile-picture.png" alt="Imagen perfil" class="login--image">
                <form class="login--form">
                    <p>
                        <input type="text" placeholder="Ingresa tu usuario" class="loggin--form--input">
                    </p>
                    <p>
                        <input type="password" placeholder="Ingresa tu contraseña" class="loggin--form--input">
                    </p>
                    <button type="button" class="login--form--button" >Ingresar</button>
                    <p class="remember">
                        <input type="checkbox" name="remember">
                        <label for="remember">Recuérdame</label>
                    </p>
                    <p class="forget">
                        <a href="#" class="forget--link">
                            ¿Olvidaste tu constraseña?
                        </a>
                    </p>
                </form>
            </article>
        </section>

        <!-- FOOTER -->
        <%- include('../partials/footer')%>
    </main>
</body>
</html>