<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <%- include('../partials/head')%>
        <link rel="stylesheet" href="css/register.css">
    </head>
<body>
    <div class="container">
        <!-- HEADER -->
        <%- include('../partials/header')%>

        <!-- MAIN SECTION -->
        <main>
            <div id="create-account-box">
                <h3>Crear cuenta</h3>

                <form id="create-account-form" action="/users" method="POST">
                    <input id="first_name" name="first_name" class="textbox" type="text" placeholder="Nombre">
                    <input id="last_name" name="last_name" class="textbox" type="text" placeholder="Apellido">
                    <input id="email" name="email" class="textbox" type="email" placeholder="Correo electrónico">
                    <input id="password" name="password" class="textbox" type="password" placeholder="Crea una contraseña">
                    <input id="checkpassword" name="checkpassword" class="textbox" type="password" placeholder="Repite la contraseña">
                    <a href="#" id="terminos">Términos y condiciones</a>
                    <div class="checkbox">
                        <input name="spam" type="checkbox">
                        <label for="aceptar-spam">Quiero recibir correos con promociones</label>
                    </div>
                    <div class="checkbox">
                        <input name="terminos" type="checkbox">
                        <label for="aceptar-terminos">Acepto los términos y condiciones</label>
                    </div>
                    <button type="submit" class="create-button">Crear cuenta</button>
                </form>
                <p><a href="/login" id="login-button">¿Ya tienes cuenta? Inicia sesión</a></p>
            </div>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer')%>
    </div>
</body>
</html>